<style>
 .formtastic select {
     width: 20rem;
 }
</style>

<%= semantic_form_for(address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :country, as: :select, collection: CS.countries.invert %>
  </div>

  <div>
    <%= form.input :state, as: :select, collection: CS.states(address.country).invert, input_html: { disabled: address.country.blank? } %>
  </div>

  <div>
    <%= form.input :city, as: :select, collection: CS.cities(address.state, address.country), input_html: { disabled: address.state.blank? } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
